<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1{
    font-style: bold;
    font-family: Impact;
    width: 50%;
    background-color: white;
    border: 5px solid wheat;
    text-align: center;

  }

  .container{
    margin: 2px;
    text-decoration-color: white;
    width: 50%;
    background-color: wheat;
    border-width: 5px;
    font-family: Tahoma
   
  }

  .extra-container{
    text-decoration-color: white;
    width: 100%;
    background-color: wheat;
    font-family: Tahoma
  }

  .remaining{
    text-align: right;
    font-family: Tahoma;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid burlywood; 
  border-radius: 4px;
  font-family: Segeo UI;
  }
 
.button2, .button3 {
  background-color: white;
  color: black;
  border: 2px solid burlywood;
  border-radius: 4px;
  font-family: Segeo UI;
  } 


.button4 {
  background-color: white;
  color: black;
  border: 2px solid tan;
  border-radius: 4px;
  font-family: Segeo UI;
  } 

.button5 {
  background-color: white;
  color: black;
  border: 2px solid #A36F40;
  border-radius: 4px;
  font-family: Segeo UI;
  } 

.button6, .button7, .button8, .button9 {
  background-color: white;
  color: black;
  border: 1px solid #A36F40;
  border-radius: 4px;
 } 



/* .complete {
  text-decoration: line-through;
}    */

</style> 


  <!-- <--/* Toolbar */ --!
 <div class="toolbar" role="banner">
    <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
    <span>Your To-Do List</span>
      <div class="spacer"></div>
      <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">
        <svg id="twitter-logo" height="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
          <rect width="400" height="200" fill="none"/>
          <path d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23" fill="#fff"/>
        </svg>
      </a>
    </div> -->
    
    <!-- <table class="table">
      <input type="text"  (input)="Search()"/>
      <tr>
        <th>ToDo</th>
        <td>{{t.title}}</td>
      </tr>
    </table>  -->
  
  
    <!-- <input type="text" [(ngModel)]="FilterTodos" placeholder="Search" class="searchInputBox"/> -->
      
    <h1>Your To-Do List:</h1>

    <div class="container">
      <input type="text" class="filter-todos" placeholder="Search for a task!" [(ngModel)]="FilterTodos"/>
        <button type="button" class="button1 btn-sm" (click)="Search()">Search</button><br> 
  
    <div type="text" class="todo-item" *ngFor="let todo of todosFiltered()"><br>
      <div class="todo-item-left">
        <input type="checkbox" [(ngModel)]="todo.completed">
        
        
        <div *ngIf="!todo.editing; else editingTodo" class="todo-item-label" [ngClass]="{'complete':'todo.completed'}" (dblclick)="editTodo(todo)">{{todo.title}}</div><br>
        <button class="button2" (click)="editTodo(todo)">Edit</button>
        <ng-template #editingTodo>
          <input type="text" class="todo-item-edit" [(ngModel)]="todo.title" (button)="doneEdit(todo)" (keyup.enter)="doneEdit(todo)"><br>
          <button class="button3" (click)="doneEdit(todo)">Done editing</button>
        </ng-template> 
      </div>
      <div class="remove-item">
        <button class="button4" (click)="deleteTodo(todo.id)">Delete Task</button><br>
      </div>
    </div>
    
    <div class="extra-container">
      <div><label><input type="checkbox" (change)="checkAllTodos()">Check All</label></div>

      <div class="remaining">{{ remaining() }} items left to do! <br>
      {{ congrats() }}
    </div>
  
    <input type="text" class="todo-input" placeholder="Add a task!" [(ngModel)]="todoTitle" (keyup.enter)="addTodo()">
    <button class="button5" (click)="addTodo()">Add Task</button><br>

    
    <div class="active-buttons">
      <div>
        <button class="button6" [ngClass]="{'active': filter == 'all'}" (click)="filter='all'">All</button>
        <button class="button7" [ngClass]="{'active': filter == 'active'}" (click)="filter='active'">Active</button>
        <button class="button8" [ngClass]="{'active': filter == 'completed'}" (click)="filter='completed'">Complete</button>
      </div>
      
      <div *ngIf="atLeastOneCompleted()"><button class="button9" (click)="clearCompleted()">Clear Completed</button></div>


 
  

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


